.movielist {
  display: flex;
  flex-direction: column 1fr;
  flex-wrap: wrap;
  background-color: rgba(223, 45, 13, 0.822);
  margin-right: 100px;
  border-radius: 35px;
  
}

@media only screen and (max-width: 1440px){
.movielist{
  padding:60px;
}
}
@media only screen and (max-width: 1024px){
  .movielist{
  padding-left:12%;
}
} 
@media only screen and (max-width: 768px){

.movielist{
  margin-left: 25px;
  
}  
}
